<div class="container d-flex flex-column align-items-center">
  <div class="container-content d-flex flex-column align-items-center mt-4 col-5">
    <h3 class="mt-4">URL Shortener</h3>
    <div class="icon my-3"><i class="fas fa-link fa-4x"></i></div>
    <div class="result-info d-flex flex-column align-items-center mt-3 col-9">
        <div class="text-left">
            <h5>Success! Please use this link:</h5>
            <a href="{{webURL}}" class="copy-text" >{{webURL}}</a>              
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-copy mt-3 mb-5">Copy</button>
  </div>
</div>